body {
  margin: 0;
  background-image: url("../images/bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Ramabhadra", sans-serif;
}
* {
  box-sizing: border-box;
}
form{
    padding-top: 8%;
}

input {
  width: 100%;
  margin: 1%;
  padding: 2%;
  font-weight: bold;
  font-size: small;
}
.maindiv,
#divfortable {
  margin: auto;
  margin-top: 10%;
  width: 60%;
}
.left {
  background: #82c394;
  padding: 3%;
  height: 360px;
  font-weight: bolder;
  font-size: smaller;
  padding-top: 10%;
}
.right {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3%;
  height: 360px;
}
.table {
  background: #c3fdb8;
}

#divfortable {
  margin-top: 3%;
}
#divfortable h2 {
  font-size: 20px;
  background: #306754;
  color: white;
  margin-bottom: 0px;
}
